
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Margarine&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kode+Mono:wght@400..700&family=Margarine&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family : '','Kode Mono', monospace;
    
}